html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url("../images/souvenir1.jpg");
  background-size: cover;
  background-position: 10% 50%;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  font-family: helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  transition: color 1s;
}

a:hover {
  color: #ffde00;
}

.section {
  position: relative;
  width: 100vw;
}

.section--top {
  height: 100vh;
  overflow: hidden;
}

.about__text {
  color: #ff9600;
  margin-top: 400px;
  margin-bottom: 0px;
  margin-left: 300px;
  margin-right: 50px;
  text-align: justify;
  font-size: 50pt;
  font-weight: bolder;
  z-index:10;
  position:relative;
}

.container {
  background-image: url("../images/souvenir2.jpg");
    background-size: cover;
    background-position: 20% 40%;
    font-family: helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    font-weight: normal;
    color: #ffde00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}

h1, h2 {
    margin: 20px 0;
}

.button {
    display: inline-block;
    background: #2F4F4F;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 0px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #008080;
}

.question-container {
    color: #ffde00;;
    font-weight: normal;
}

.answer-container {
    margin-top: 10px;
}

.real-answer-container {
    color: #FFFFFF;
    font-weight: 100;
}

.conclusion-container {
  background-image: url("../images/digital-self.jpg");
    background-size: cover;
    background-position: 20% 5%;
    font-family: helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    font-weight: normal;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.navigation {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
}

.navigation a {
    width: 45%;
}

.border {
  border-bottom: 1px solid #000000;
}

.section--gallery {
  background-color: #000000;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.gallery__item {
  padding: 20px;
  padding-top: 0;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width: 500px) {
  .gallery__item {
    padding: 60px;
    padding-top: 0;
  }
}

.gallery__img {
  width: 100%;
}

.gallery-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #808080;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.gallery-button:hover {
  background-color: #2F4F4F;
}

.home-button {
  position: absolute;
  top: 20px;
  right: 120px;
  color: #808080;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #2F4F4F;
}


#drawingCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
